/* fonts start */

/* quicksand-regular - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v21-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-500 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v21-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-500.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-700 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v21-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* fonts end */

/* Универсальный селектор */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px;
}

.close {
    width: 25px;
    height: 25px;
    color: white;
    background: rgb(187, 31, 31);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    opacity: 0.6;
}

/* modal-form style start */

.modal-form {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.3);
    z-index: 10000;
}

.login-form {
    position: relative;
    width: 300px;
    min-height: 250px;
    flex-direction: column;
    background: rgba(175, 215, 223, 0.966);
    border-radius: 5px;
    box-shadow: 8px 8px 7px -1px rgb(160, 153, 153);
    animation: loginForm 0.3s 1;
}

@keyframes loginForm {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
}

.login-form input {
    margin-bottom: 30px;
}

.login-form__input {
    padding: 5px;
}

.login-form__input::placeholder {
    color: rgb(45, 14, 104);
    font-family: 'Quicksand';
}

.close-modal-form {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* modal-form style end */

/* header start */

header {
    min-height: 80px;
    padding-top: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
}

.m-b-60 {
    margin-bottom: 60px;
}

.header-content, .header-content>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 26px;
    height: 26px;
    background: #5E81FE;
    border-radius: 100%;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    margin-left: 15px;
    position: relative;
}

.menu-burger {
    width: 50px;
    height: 50px;
    background-image: url('../images/header/images.png');
    background-size: 50px;
    cursor: pointer;
    display: none;
}

.menu {
    margin: 0 auto;
}

/*Дочерний селектор*/

.menu>li {
    display: inline-block;
    position: relative;
}
.menu li {
    margin-top: 3px;
}


.menu>li>ol {
    position: absolute;
    padding-left: 0;
    display: none;
}

.menu>li:hover>ol {
    display: block;
}

/*Вложенный селектор*/

.menu a {
    /* display: block; */
    box-sizing: border-box;
    color: rgb(194, 120, 120);
    background: rgb(68, 26, 148);
    width: 110px;
    height: 40px;
    border-radius: 2px;
    transition: background 0.6s;
}

.menu a:hover {
    background: rgb(45, 14, 104);
    color: rgb(220, 205, 205)
}

.social-media a {
    margin-right: 35px;
}

.started-button {
    width: 113px;
    background: #D2E1FF;
    border-radius: 2px;
    transition: 0.8s;
    font-weight: bold;
    font-size: 13px;
    padding: 13px 16px;
    color: #3A79FF;
    border: none;
}

.started-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 980px) {
    .menu-burger {
        display: block;
    }
    .menu {
        padding: 4px;
        position: absolute;
    }
    .menu-none {
        display: none;
    }
    .menu>li {
        display: block;
    }
    .menu>li:hover>ol {
        display: none;
    }
}

/* header style end */

/* canvas style start */
.canvas-wrap{
    min-height: 500px;
}
.canvas{
    width: 900px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}
.canvas__main{
    width: 500px;
    height: 300px;
    border: 1px solid gray;
}
.canvas__painting-tools{
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
}
/* canvas style end */

.calculator {
    position: sticky;
    top: 15px;
    left: 57%;
    font-size: 1.1rem;
}

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 20px;
    grid-gap: 25px;
}

.aside, .article {
    flex-basis: 300px;
}

.aside {
    order: -1;
}

/* slider style start */
.slider, .slides  {
    position: relative;
}

.slider, .slides, .slide {
    width: 290px;
    height: 300px;
}

.slide, .toggle-arrow, .toggle-radio {
    position: absolute;
}

.slider{
    margin: 0 auto 50px;
}
.slides{
    padding: 0;
}

.slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.slide {
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    background-size: 290px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide:nth-of-type(1) {
    background-image: url('../images/slider/item_1.jfif');
}

.slide:nth-of-type(2) {
    background-image: url('../images/slider/item_2.jfif');
}

.slide:nth-of-type(3) {
    background-image: url('../images/slider/item_3.jfif');
}

.slide:nth-of-type(4) {
    background-image: url('../images/slider/item_4.jfif');
}

.slide:nth-of-type(5) {
    background-image: url('../images/slider/item_5.jfif');
}

.toggle-arrow {
    top: 50%;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(22, 11, 11);
    z-index: 3;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
}

.toggle-radio {
    bottom: 20px;
    left: 80px;
    z-index: 3;
}

.slides-min {
    margin: 8px 0;
    padding: 0;
    font-size: 0;
}

.slide-min {
    display: inline-block;
    margin-left: 4px;
    padding: 0;
}

.slide-min:nth-of-type(1) {
    margin-left: 0;
}

.slide-min, .slide-min img {
    width: 54.8px;
    height: 58px;
    font-size: 0;
}

.showing-min {
    box-shadow: 0 0 15px 5px orange;
}
/* slider style end */
/* article start */

.article {
    flex-grow: 1;
    padding: 20px;
}

.article img {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}

.clear-both {
    clear: both;
    margin-bottom: 50px;
}

q {
    color: rgb(184, 116, 14);
}

q[title] {
    color: red;
}

q[title='Цитата №2'] {
    color: rgb(10, 216, 89);
}

.article__link, .article__link:hover, .article__link:focus {
    color: rgb(119, 130, 192)
}

h2[class~='big'] {
    margin-bottom: 10px;
    background: rgb(94, 60, 156);
    color: rgb(156, 18, 18);
    padding: 3px;
    width: 400px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

p[class |='text'] {
    color: rgb(148, 104, 104);
}

/* комбинирование селекторов */

.big.text {
    color: goldenrod;
}

/* article end */

/* contact start */

.contact {
    position: relative;
    top: 10px;
    left: 85%;
    width: 50px;
    height: 50px;
    background-image: url('../images/whatsApp.png');
    background-size: contain;
    z-index: 1000;
}

.contact>a {
    display: block;
    width: 100%;
    height: 100%;
}

.contact::before {
    position: absolute;
    top: 50px;
    left: 10px;
    content: '';
    border: 15px solid transparent;
    border-top: 15px solid rgb(27, 200, 63);
}

/* contact end */

/* form-images start  */

#form-images {
    margin-left: 50px;
    margin-bottom: 80px;
}

/* родственный селектор */

label~img {
    width: 200px;
    display: block;
}

#switch:checked~img {
    display: none;
}

/* соседний селектор */

label+img+img+img {
    border-radius: 25px;
}

.lab {
    color: red !important;
}

label#check.lab.show {
    color: gray;
}

#check {
    color: blue;
}

.show {
    color: green;
}

/* form-images end  */

/* skills start */

.skills {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

div[class ^='skill'] {
    flex-basis: 250px;
}

.skill-1 {
    text-align: center;
}

.skill-img {
    width: 50px;
    height: 45px;
}

.skill-2 {
    padding: 50px 10px 10px 30px;
    background-color: orange;
    background-image: url('../images/skills/skill_icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 80% 10px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.skill-2>h3 {
    text-align: right;
    color: red;
}

.skill-2>p {
    padding-top: 20px;
    text-align: justify;
    border-top: 3px solid white;
    color: white;
}

.skill-3 {
    height: 300px;
    align-self: center;
}

.skill-3 img {
    width: 100%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

/* skills end */

/* cart-box start  */

.cart-box {
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'cart-1 cart-1 cart-2' 'cart-3 cart-4 cart-5';
    grid-template-rows: 220px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

div[class ^='cart'] {
    background: gold;
    border: 3px solid orange;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 7px -1px gray;
}

.cart-link {
    display: inline-block;
    overflow: hidden;
    width: 30%;
    height: auto;
}

.cart-link-text, .cart-link-text:hover {
    color: rgb(39, 31, 155);
}

.cart-link img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
}

.cart-link:hover img {
    transform: scale(1.3);
}

.cart-1 {
    grid-area: cart-1;
}

.cart-2 {
    grid-area: cart-2;
}

.cart-3 {
    grid-area: cart-3;
}

.cart-4 {
    grid-area: cart-4;
}

/* cart-box end  */

/* table style start  */

.table-rating {
    width: 90vw;
    margin: 50px auto;
    color: rgb(146, 142, 142);
    border-collapse: collapse;
}

.table-rating th, .table-rating td {
    border: 3px solid gray;
    text-align: center;
    padding: 3px;
}

.table__img {
    width: 50px;
}

.table-rating tbody {
    background: rgb(53, 47, 47);
    cursor: pointer;
}

.table-rating thead, .table-rating tfoot, .table-rating tr:hover {
    background: #000;
}
.table-rating tfoot > tr{
    height: 49px;
}

.table-rating caption {
    width: 90vw;
    height: 100px;
    background-image: url('../images/table/table_header.jpg');
    background-size: 300px 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

/* table style end  */

/* form-poll style start */

.form-poll {
    width: 850px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 7px -1px gray;
    color: white;
    background: radial-gradient(55% 35%, aqua, rgb(36, 26, 124));
}

.form-poll__data {
    display: flex;
    flex-wrap: wrap;
}

.form-poll h2 {
    color: rgb(64, 232, 94);
    text-shadow: 3px 3px 0 rgb(22, 26, 22);
}

.fild {
    display: inline-block;
    margin-right: 30px;
}

.captcha img {
    width: 50px;
}

.captcha__span {
    position: relative;
}

.captcha__span::after {
    position: absolute;
    left: 10px;
}

.captcha__check:valid+.captcha__span::after {
    content: url('../images/form/ok.png');
}

.captcha__check:invalid+.captcha__span::after {
    content: url('../images/form/nook.png');
}

.captcha__false {
    color: red;
    margin-left: 30px;
}

.captcha__check:valid~.captcha__false {
    display: none;
}

/* form-poll style end */

/* anim-message style start */

.anim-message {
    position: relative;
    width: 280px;
    min-height: 100px;
    margin: 50px auto 0;
    text-align: center;
}

.anim-message a, .anim-message__bg {
    position: absolute;
}

.anim-message a {
    top: 13px;
    left: 15px;
    display: block;
    width: 250px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(22, 20, 20);
}

.anim-message__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(45deg, #1ac9c4, #16f2ec);
    border-radius: 15px;
    animation: animBG 5s infinite;
    animation-timing-function: ease;
}

.anim-message__side-1 {
    opacity: 1;
    animation: animTextTop 5s infinite;
}

.anim-message__side-2 {
    opacity: 0;
    animation: animTextBottom 5s infinite;
}

@keyframes animBG {
    50% {
        transform: rotateX(180deg);
        background: linear-gradient(45deg, #1ac969, #0f8143);
    }
}

@keyframes animTextTop {
    10% {
        opacity: 0;
        transform: scale(0.7);
    }
    80% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes animTextBottom {
    30% {
        opacity: 0;
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-10px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    60% {
        opacity: 0;
    }
}

/* anim-message style end */

/* ticker style start */

.ticker {
    position: relative;
    width: 400px;
    height: 35px;
    margin: 10px auto;
    overflow: hidden;
}

.ticker>p {
    position: absolute;
    width: 3500px;
    font-weight: bold;
    animation: ticker 30s infinite;
    animation-timing-function: linear;
}

@keyframes ticker {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(-3500px);
    }
}

/* ticker style end */

/* features style start */

.features-wrap {
    min-height: 885px;
    background-image: url('../images/features/clouds_left.png'), url('../images/features/clouds_right.png');
    background-repeat: no-repeat;
    background-position: left center, right 25%;
}

.features-content {
    width: 761px;
    /* margin: 0 auto; */
    text-align: center;
}

.features-content>a {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    color: #3D4F9F;
}

.features-content>h2 {
    margin-bottom: 92px;
}

.features-content>h2>a {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 24px;
    color: #3D4F9F;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 67px;
    margin-bottom: 92px;
}

.features__icon {
    margin-bottom: 33px;
}

.features h5 {
    margin-bottom: 25px;
}

.features h5>a {
    font-size: 14px;
    font-weight: bold;
    color: #4074F8;
}

.features__text>a {
    font-weight: 600;
    font-size: 11px;
    color: #ADB3CB;
}

.block-buttons>a {
    display: inline-flex;
    width: 113px;
    height: 43px;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    transition: 0.3s;
}

.block-buttons>a:nth-of-type(1) {
    background: #FFD7D7;
    color: #D43F3F;
}

.block-buttons>a:nth-of-type(1):hover {
    background: #f1c4c4;
    color: #973131;
}

.block-buttons>a:nth-of-type(2) {
    background: #D2E1FF;
    color: #3A79FF;
}

.block-buttons>a:nth-of-type(2):hover {
    background: #c3cde2;
}

.block-buttons>span {
    margin: 0 60px;
    font-weight: 600;
    font-size: 11px;
    color: #ADB3CB;
}

/* features style end */

/* visual-sections style start */

.visual-section-1, .visual-section-2 {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.visual-section-1 {
    background-image: url('../images/parallax/bg_p_1.jpg');
}

.visual-section-2 {
    background-image: url('../images/parallax/bg_p_2.jpg');
    padding-top: 100px;
}

.btn-big {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #d40838;
    background: transparent;
    overflow: hidden;
}

.btn-big>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #d40838;
}

.btn-big::before {
    position: absolute;
    content: '';
    top: 80px;
    left: -70px;
    width: 300px;
    height: 150px;
    background: linear-gradient(0deg, #ebeb09, #f0f07a);
    transform: rotate(15deg);
    transition: 0.3s;
}

.btn-big:hover::before {
    top: -70px;
    left: -70px;
}

/* visual-sections style end */

/* get-started style start */

.get-started-wrap {
    min-height: 450px;
    padding-top: 91px;
    background-color: #5E80FF;
    background-image: url('../images/getStarted/cloud_1.png'), url('../images/getStarted/cloud_2.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

.get-started {
    width: 712px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
}

.get-started a {
    color: #FFFFFF;
}

.get-started>a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
}

.get-started>h5 {
    margin-bottom: 28px;
}

.get-started>h5 a {
    font-family: Quicksand;
    font-weight: 100;
    font-size: 48px;
}

.fw-bold {
    font-weight: 600;
}

.get-started__text {
    margin-bottom: 70px;
}

.get-started__text>a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
}

.get-started__button>a {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 13px;
    color: #C7D3FF;
    border: 1px solid #A0B4FF;
    border-radius: 2px;
    transition: 0.5s;
}

.get-started__button>a:nth-of-type(1) {
    padding: 13px 17px;
}

.get-started__button>a:nth-of-type(2) {
    padding: 13px 9px;
}

.get-started__button>a:hover {
    background: #FFFFFF;
    color: #565F82;
}

/* get-started style end */

@media screen and (max-width: 980px) {
    .menu-burger {
        display: block;
    }
    .menu-none {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .cart-box {
        grid-template-rows: 170px;
    }
}

@media screen and (max-width: 900px) {
    .form-poll {
        width: 100%;
        margin: 10px 0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 8px 8px 7px -1px gray;
        color: white;
        background: radial-gradient(55% 35%, aqua, rgb(36, 26, 124));
    }
    .fild {
        display: block;
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .blog {
        flex-direction: column;
    }
    aside {
        order: 0;
    }
    .carousel-control-next {
        right: 0;
    }
}

@media screen and (max-width: 800px) {
    .cart-box {
        grid-template-areas: 'cart-1' 'cart-2' 'cart-3' 'cart-4' 'cart-5';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
}

@media screen and (max-width: 770px) {
    .features-content {
        width: 90%;
    }
    .features {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .visual-section-1 {
        display: none;
    }
    .visual-section-2 {
        height: 100px;
        background: white;
        padding-top: 0;
    }
    .get-started {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .table-rating {
        width: 100%;
        font-size: 12px;
    }
    .table-rating img {
        width: 30px;
    }
    .table-rating caption {
        width: 100%;
    }
    .table-rating th, .table-rating td {
        border: 1px solid gray;
        padding: 0;
    }
}

@media screen and (max-width: 490px) {
    .social-media a {
        margin-right: 10px;
    }
}

@media screen and (max-width: 450px) {
    h2[class~='big'] {
        width: 100%;
    }
    .ticker {
        width: 300px;
    }
    .block-buttons>span {
        margin: 0;
    }
}

@media screen and (max-width: 370px) {
    .menu-burger {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }
    .started-button {
        width: 90px;
        font-size: 10px;
    }
    .features {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .contact {
        left: 65%;
    }
    .calculator {
        left: 35%;
    }
}

@media screen and (max-width: 350px) {
    .table-rating {
        display: none;
    }
}